<div class="tw-h-full">
  <div class="header-bar ui centered grid tw-m-0 tw-w-full tw-fixed tw-z-10">
    <div class="sixteen wide tablet ten wide computer column tw-p-8 tw-h-full">
      <div>
        <app-header></app-header>
      </div>
    </div>
  </div>
  <div class="video-container ui centered grid tw-h-full tw-m-0" style="flex: 1; overflow: auto;">
    <div class="twelve wide column tw-flex tw-flex-col tw-h-full">
      <app-home-video-list></app-home-video-list>
    </div>
  </div>
</div>